<!DOCTYPE html>
<html>
  <head>
    <title>Add A Hat</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./styles.css">
  </head>
  <body>
    <header id="header">
      <h1>Edit or Add Any Information Below</h1>
    </header>
    <main>
      <div class = "container">
        {{#singleHat}}
        <form action="/list" method="POST">
          <label for="_id">Id: </label>
          <input type="text" name="_id" value="{{_id}}"><br>
          <label for="team">Team: </team>
          <input type="text" name="team" value="{{team}}"><br>
          <label for="fitted">Style: </label>
          <select name="fitted">
            <option value="fitted">Fitted</option>
            <option vaule="flex">Flex</option>
            <option vaule="adjustable">Adjustable</option>
          </select><br>
          <label for="size">Size: </label>
          <input type="text" name="size" value="{{details.size}}"><br>
          <label for="special">Type: </label>
          <select name="special">
            <option value="home">Home</option>
            <option value="road">Road</option>
            <option value="alternate">Alternate</option>
            <option value="holiday">Holiday</option>
          </select><br>
          <label for="color1">Colors: </label>
          <input type="text" name="color1" value="{{colors}}">
          <input type="text" name="color2" value="">
          <input type="text" name="color3" value=""><br>
          <button type="submit">Change This Hat!</button>
        </form>
        {{/singleHat}}
        <br>
        <br>
        <h2>{{message}}</h2>
        <br>
        <h3><a href="/list">View Entire Collection</a></h3>
      </div>
    </main>
  </body>
</html>
