<!DOCTYPE html>
<html>
  <head>
    <title>Hat Collection Home</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./styles.css">
  </head>
  <body>
    <header id="header">
      <h1>Hat Collection Home:</h1>
      <h3><a href="/add">Add A Hat</a></h3>
      <h3><a href="/list">View Entire Collection</a></h3>
      <h3><a href="/edDel">Edit or Delete A Hat</a></h3>
    </header>
    <main>
      <div class = "container">

      </div>
    </main>
  </body>
</html>
